{% extends "app/layout.html" %}

{% block content %}

{% if user.id in membersList%}

<h2>{{title}}.</h2>

<a class="btn btn-primary" href="{% url 'driveUpload' folderId groupId %}">Upload File</a>

{#Iterate though the files in the drive and display them#}
{% if file_list %}
<table class="table table-hover">
    <tbody>
        {% for file in file_list %}
        {% if file.mimeType == 'application/vnd.google-apps.folder'%}
        <tr>
            <td>
                <a href="{% url 'driveFolder' file.id groupId %}">{{file.title}}</a>
            </td>
        </tr>
        {% else %}
        <tr>
            <td>
                <a href="{% url 'driveDownload' file.id file.title folderId groupId %}">{{file.title}}</a>
                <a class="btn btn-primary" style="float:right" href="{% url 'deleteFile' file.id folderId groupId %}">Delete</a>            
            </td>
        </tr>
        {% endif %}
        {% endfor %}
    </tbody>
</table>
{% else %}
<p>No files available.</p>
{% endif %}

{% else %}

{% include 'app/errors/403.html' %}

{% endif %}

{% endblock %}
